/*!
 * nipnet - tworzenie , projektowanie stron www 
 Drupal Wordpress Joomla

*/
.navbar{
	border-radius: 0px;
}
body{
	background: #F2F2F2;
}
.navbar-inverse{
	margin-bottom: 0px;
	padding-bottom:0px;
	padding:22px 0px;
}
.navbar-inverse a{
	text-transform: uppercase;
	color:#fff;

}
.nav a{
	color:#fff !important;
	font-size:17px;
}
.inner {
   
    padding: 61px 0 40px;
    color:#fff;
    text-align: center;
}
.inner p{
	padding: 5px 18px 10px;
}
.inner h4{
	text-transform: uppercase;
	padding: 12px 0;
}

.headertitle{
	background: #fff;
	padding:15px 0;
	text-align: center;
}

.col1{
	background: #78C7EE;
}
.col2{
	background:#E45055;
}
.col3{
	background:#FF8F22;
}

.nopadding{
	padding: 0px;
}

.inner-blok{
	text-align: center;

}


.inner-blok-height {
    text-align: center;
    height: 322px;
}




.inner-blok-text{

	padding: 26px 6% 20px;
}
.inner-blok-text h4{
	text-align: center;
	text-transform: uppercase;
		padding: 12px 0;
}
.inner-blok-text p{
  text-align: justify;
padding: 13px 73px 9px;
}

.inner-blok-gray p{
padding: 13px 18px 20px;
}
.inner-blok-gray h5{
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	padding:5px 0;
}


.inner-blok-gray{
	background: #F2F2F2;
	margin-bottom:15px;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    box-shadow: none;
    border-color: #ff8f22;
    background: none;
    color: #ff8f22;
    text-shadow: none;
    outline: none;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
    color: #ff8f22;
    text-shadow: none;
}
.mod-newsflash-adv.programs .item .item_content .inner .readmore {
    padding: 0 25px;
}

.btn-info {
    background: none;
    color: #78c7ee;
    text-shadow: none;
    border: none;
    border-bottom: 2px solid #78c7ee;
    border-top: 2px solid #78c7ee;
    display: table;
    font: 14px/46px 'Autour One', cursive;
    padding-bottom: 16px;
    margin: 0 auto;
    padding: 0 14px;
    min-width: 60px;
    text-align: center;
    text-transform: uppercase;
}


.white{
	background: #fff;
}



 h3 {
    display: inline-block;
    padding: 16px 0 13px;
    margin-bottom: 30px;
    position: relative;
}


 h3::after, h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 108px;
    height: 2px;
    background: #cecece;
    left: 50%;
    margin-left: -54px;
}

footer{
	background: #000;
	padding:20px 0;
	color:#fff;

}

.carousel-indicators .active {
  width: 20px;
    height: 20px;
    margin: 0;
    background-color: #78C7EE;
}
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 2px solid #fff;
    border-radius: 27px;
}



.carousel-indicators {
 bottom: 154px;
}
.row.blockfront {
    margin-top: -119px;
}

.center-img{
	margin:0 auto;
	display: :block;
}













.pt_body {
  margin-left: 10px;
  margin-right: 10px;
  background: #ffffff;
  font-size: 100%;
}


.pt_promo {
  margin: 1em .5em 1.625em;
  padding: .25em 0 2em;
  /*font-family: 'Open Sans', sans-serif;*/
  font-weight: 400;
  line-height: 1.625;
  color: #f9f9f9;
  text-align: center;
}

.pt_promo.pt_first {
	background-color: #f49600;
}

.pt_promo.pt_second {
	background-color: #6fa600;
}

.pt_promo.pt_third {
	background-color: #008ab1;
}

li.pt_calosc {
	color:#FFF;
	font-weight:bold;
	font-size: 125%;
	}
	
.price_table_span {
	height: 40px;	
}


	
  .pt_promo {

    margin: 1em 0 0;	
  }
  
  .pt_promo.pt_first {
    border-right: none;
	background-color: #f49600;

  }
  
  .pt_promo.pt_second {

    border-left: none;
	background-color: #6fa600;
  }
  
  .pt_promo.pt_third {
	background-color: #008ab1;
	
  }
  
  .price_table_span {
	height: 40px;	
}
  
li.pt_first_line1 {	background-color: #f3eeb7; text-align: left; }

li.pt_first_line2 {	background-color: #f7f7dc; text-align: left;  }

li.pt_second_line1 { background-color: #d2ecab; text-align: left; }

li.pt_second_line2 { background-color: #e7f7d1; text-align: left; }

li.pt_third_line1 { background-color: #cfe5f1; text-align: left; }

li.pt_third_line2 { background-color: #e5f3fa; text-align: left; }
  
}
.pt_promo h4 {
  margin: .25em 0 0;
  font-size: 170%;
  font-weight: normal;
}
.pt_promo .pt_features {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #27282b;
}
.pt_promo li {
  padding: .75em 0;

}
.pt_promo .pt_brief {
  color: #f9f9f9;
  font-size: 150%;
}
.pt_promo .pt_price {
  padding: .25em 0;
  padding-top: 0.4em;
  background: #292b2e;
  font-size: 250%;
  color: #f9f9f9;
}
.pt_promo .pt_buy {
  margin: 1em 0 0;
}
.pt_promo button {
  padding: 1em 3.25em;
  border: none;
  border-radius: 40px;
  background: #292b2e;
  color: #f9f9f9;
  cursor: pointer;
}
.pt_promo button:hover {
  background: #27282b;
}

.pt_scale button {
  background: #64AAA4;
}
.pt_scale button:hover {
  background: #4e8d88;
}

li.pt_first_line1 {	background-color: #f3eeb7; text-align: left;  }

li.pt_first_line2 {	background-color: #f7f7dc; text-align: left; }

li.pt_second_line1 { background-color: #d2ecab; text-align: left;  }

li.pt_second_line2 { background-color: #e7f7d1; text-align: left; }

li.pt_third_line1 { background-color: #cfe5f1; text-align: left; }

li.pt_third_line2 { background-color: #e5f3fa; text-align: left; }


li.pt_first_line1,li.pt_first_line2,
li.pt_second_line1,li.pt_second_line2,
li.pt_third_line1,li.pt_third_line2
{
	padding-left:80px;
}

.pt_promo {

    margin-top: 0px !important;
}




.marginmnius{
    margin-top: -119px;
}
span.nr_tel {
    display: block;
    padding-top: 6px;
    padding-bottom: 8px;
    font-size: 32px;
    font-weight: lighter;
}
.kontakt{
	color:#000
}
.kontakt h5{
	font-weight:bold;
}








.margines80 {
	margin-left: 80px;
	margin-right: 80px;
}

.main-login-form {
	margin-top:20px;
	width:400px;
	
}

.main-login-form label {
display:block;
color:#3d3d3d;
margin-bottom:15px;
}
.main-login-form h5 {
	color:#3d3d3d;
	margin-bottom:20px;
	font-weight:lighter;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	padding-left:10px;
}


.main-login-form input[type="text"], .main-login-form input[type="password"] {
	padding:5px 15px 5px 15px;
}

.login_page {
	margin-top: 50px;
	overflow: hidden;
	
}


.login_panel { 
	width:400px;
	text-align:center;
	float:left;
	display:block;

}

.logo_langlia {
	margin-left:auto;
	margin-right:auto;
}

.logo_langlia img {
	max-width: 300px;
	padding-left: 30px;
	padding-top: 50px;
	right:auto;
	height:auto;
}

input#client_login, input#client_password, input#client_email {
	background-color: #faffbd;
	border: 1px solid  #CCC;
	width: 75%;
}

.remind_password {
	text-align:right;
}

.remind_password a{
	color:#0099ff;
	font-size: 12px !important;
	font-weight: normal;
	text-decoration:none;
	text-align:right;
	padding-right: 12px;
}

#powrot_logowanie {
	text-align:right;
}

#powrot_logowanie a{
	color:#0099ff;
	font-size: 12px !important;
	font-weight: normal;
	text-decoration:none;
	text-align:right;
	padding-right: 12px;
}

.zaloguj_button {
	
	background: linear-gradient(to bottom, #ffd200 2%, #ffa900 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
    height: 76px;
    letter-spacing: 0.05em;
	margin-left: 212px;
	margin-top: 14px;
    width: 164px;
}

.przypomnji_button {
	
	background: linear-gradient(to bottom, #ffd200 2%, #ffa900 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
    height: 76px;
    letter-spacing: 0.05em;
	margin-left: 180px;
	margin-top: 14px;
    width: 200px; 
	}

.information_panel {
	float:right;
	display: block;	
	background: #1da8d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #1da8d7 0%, #0085b0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1da8d7), color-stop(100%,#0085b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1da8d7 0%,#0085b0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1da8d7 0%,#0085b0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1da8d7 0%,#0085b0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1da8d7 0%,#0085b0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1da8d7', endColorstr='#0085b0',GradientType=0 ); /* IE6-9 */
	opacity: 0.9;
	border-radius: 2px 2px 2px 2px;
	
	width: 520px;
	height: 440px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: #FFF;
}

.single_information {
	display:block;
	padding-left: 35px;
	padding-bottom: 10px;
	opacity: 1;
	height: 110px;
	
}
.single_information_content {
	float: left;
	width: 350px;
	text-align: left;
}


	
	
.information_title {
	font-size: 20px;
	font-weight:lighter;
	margin-top:30px;
}

.information_content {
	font-size: 12px;
	line-height: 18px;
}

.information_icon {
	float:right;
	padding-right: 20px;
	padding-top: 20px;
}

.information_icon img { max-height: 85px; width:auto;}

.single_information:nth-child(1) {
	border-bottom: 1px #48b3d8 solid;
	height: 130px !important;
	
}
.single_information:nth-child(2) {
	border-bottom: 1px #48b3d8 solid;
	height: 150px !important;
}

.download_at_mobile_davice {
	clear:both;
	display:block;
	font-size:14px;
	text-align:left;
	padding-top: 50px;
	margin-left: 35px;
	width: 360px;
	color:#074968 ;
	font-weight:bold;
}

.mobile_app_button1 {
	display:block;
	float:left;
	margin-top: 10px;

}

.mobile_app_button2 {
	display:block;
	float:right;
	margin-top: 10px;

}

#loginFormTop2{
	/*width: 961px;*/
	margin: 0 auto;
}


/*#log {display:none;}*/
/*header {display:none;}*/

@media (max-width: 1000px) {	
	
	.margines80 {margin-left: 40px; margin-right:40px;}
	
	.login_panel {width:350px;}
	
	.information_panel {width:420px;}
	
	.single_information_content {width:260px;}
	
	.information_icon {padding-right: 10px;}
}


@media (max-width: 767px) {
	
	.margines80 {margin-left: 20px; margin-right:20px;}
	
	.login_panel {width:100%; float:none;}
	
	.main-login-form {width: 90%;}
	
	.zaloguj_button {float:right; margin-right:40px;}
	
	.information_panel {width:100%; margin-top: 40px;}
	
	.single_information {padding-left:20px;}
	
	.single_information_content {width:60%;}
	
	.information_icon {padding-right: 20px;}
	
	.download_at_mobile_davice {margin-left:0px;}
	
	}

@media (max-width: 640px) {	}

@media (max-width: 479px) {.single_information_content {width:60%;}}

@media (max-width: 450px) {
	.single_information_content {width:50%;}
	.information_panel {height: 680px;}
	
	.single_information:nth-child(1) {height: 200px !important;}
	.single_information:nth-child(2) {height: 220px !important;}
	.single_information:nth-child(3) {height: 220px !important;}
	}

@media (max-width: 380px) {.single_information_content {width:50%;}}


.topdownpadding20px{
	padding: 20px 0;
}
.nullcontent{
	height: 110px;
}

#glowna .niefront{
	display: none;
}

.poziomy{
	margin:20px 0;
}






.poziomy_dul {


	color:#FFF;

	background: #fff;
}


	

	

@media only screen and (min-width : 320px) {
.box1  {
	min-height:270px;
	}
.box2  {
    min-height:270px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
.box1  {
	min-height:270px;
	}
.box2  {
    min-height:270px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.box1  {
	min-height:200px;
	}
.box2  {
    min-height:200px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.box1  {
	min-height:200px;
	}
.box2  {
    min-height:200px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.box1  {
	min-height:200px;
	}
.box2  {
    min-height:200px;
	}
}






.box1  {


	background-color:#35bcff;
	background-image:url("../../../images/site/sprawdz_swoj_poziom_background.jpg");
	padding-top: 20px;
	background-repeat: no-repeat;
    background-position: right bottom;
	}
	
.box2  {
	background-color:#ffaf04;
	background-image:url("../../../images/site/rozpocznij_kurs_background.jpg");
	padding-top: 20px;
	background-repeat: no-repeat;
    background-position: right bottom;
	}
	





.poziomy_box p{
	font-size:16px;
	margin-left: 120px;
	}
.poziomy_box p.poziomy_big_font{
	font-size:22px;
	}

	.poziomy_box{
		margin-bottom:15px;
	}


	.poziomy_button,.poziomy_button2 {
    background: #ffffff;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #4f4f4f;
    font-size: 16px;
    padding: 15px 10px 15px 10px;
    text-decoration: none;

    
    box-shadow: #30abe8 0.0em 0.3em;
    display: block;
    margin:0 auto;
width: 280px;
}

.pojedynczy_poziom{
	display: inline-block;
	padding-left:15px;
}

.nav li.active a{
	background: transparent !important;
	background-color: #222222!important;
}


.file_menu {
    display:none;
    position: absolute;
    z-index:99999;
    background:#000;
    padding: 0px;
    margin: 0px;

}
.file_menu li a {
    background-color: #302f2f;
    font-size:10px;
}
.file_menu li{
	width:200px;
	padding:5px 0px;
	padding-left:10px;
}
.file_menu li a {
    color:#FFFFFF; 
}

.file_menu li a:hover {
    color: #F00880;
}